body{
    background-color: lightgray;
    margin: 0%;
}
header{
    background-color: white;
    margin: 0%;
}
div.Post1{
    background-color: white;
}
div.container{
    width: 600x;
    height: auto;
}